[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
arrow = "*"
mechanicalsoup = "*"
requests = "*"
pathlib = "*"
pyshorteners = "*"
keyring = "*"

[dev-packages]

[requires]
python_version = "3.11"
